@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('/fonts/CaskaydiaCoveNFM-Regular.eot');
    src: url('/fonts/CaskaydiaCoveNFM-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/CaskaydiaCoveNFM-Regular.woff2') format('woff2'),
        url('/fonts/CaskaydiaCoveNFM-Regular.woff') format('woff'),
        url('/fonts/CaskaydiaCoveNFM-Regular.svg#CaskaydiaCoveNFM-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Site Styles */

/* Background: #2C2C2C (slate gray) */
/* Primary Text: #E4E4E4 (light gray) */
/* Accent 1: #A8DADC (light cyan) */
/* Accent 2: #FFC1CC (soft pink) */
/* Button/CTA: #B39CD0 (lavender) */

:root {
  --bg-color: #181818;
  --text-color: #E4E4E4;

  font-family: 'CaskaydiaCove NFM', monospace;
  font-size: 16px;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 0;
}

.image-container,
.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  gap: 1rem;
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  max-width: 40rem;
}

.links-container {
  flex: 1;
  padding-bottom: 1rem;
}

.links-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-width: 40rem;
}

.profile-picture {
  width: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 8px -4px 14px 4px rgba(0,0,0,0.36), -4px 8px 14px 4px rgba(0,0,0,0.36);
}

.link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--bg-color);
  background-color: var(--text-color);
  font-size: 1.125rem;
}

@media (hover: hover) {
  .link:hover {
    transform: scale(1.02);
  }
}




