@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('/fonts/CaskaydiaCoveNFM-Regular.eot');
    src: url('/fonts/CaskaydiaCoveNFM-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/CaskaydiaCoveNFM-Regular.woff2') format('woff2'),
        url('/fonts/CaskaydiaCoveNFM-Regular.woff') format('woff'),
        url('/fonts/CaskaydiaCoveNFM-Regular.svg#CaskaydiaCoveNFM-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Site Styles */

:root {
  font-family: 'CaskaydiaCove NFM', monospace;
  font-size: 16px;
}

html,
body {
  height: 100%;
}






